<h1><a href="/">Sinatra</a></h1>
<div id="user-navigation">
  <ul class="wat-cf">
    <li><a href="<%= ENV['GITHUB'] %>/sinatrarb">Github</a></li>
  </ul>
</div>
<div id="main-navigation">
  <ul class="wat-cf">
    <li class="first"><a href="http://www.sinatrarb.com">Main Page</a></li>
    <li><a href="http://recipes.sinatrarb.com">Recipes</a></li>
    <li><a href="http://github.com/sinatra/sinatra">Fork Repo</a></li>
    <li><a href="http://github.com/sinatra/sinatra/issues">Issue Tracker</a></li>
    <li><a href="http://groups.google.com/group/sinatrarb/topics">Mailing List</a></li>
  </ul>
</div>